body {
	background-color: hsl(0,0%,95%);
}

.jumbotron {
	background-color: hsl(220,100%,25%); /* Dark Blue */
	color: hsl(0,0%,95%);
	padding: 100px 25px;
}

.container-fluid {
	padding: 60px 50px;
}


/* Prest BGs */
.bg-grey {
	background-color:hsl(0,0%,90%);
}

/* Button Management */
.btn {
	background-color: hsl(220,100%,65%);
	color: hsl(0,0%,95%);
}

.btn:hover {
    background-color: hsl(220,100%,55%);
}

/* Logo Management */
.logo {
	font-size:200px;
}

@media screen and (max-width: 768px){
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
}